.main {
  margin: auto;
  margin-top: 5%;
  width: 50%;
  height: 95vh;
}

.div-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.div-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.text-1 {
  color: #121212;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.005em;
}

.text-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4e4b66;
}

.text-3 {
  color: #5f2eea;
  font-weight: 800;
  font-size: 26px;
  line-height: 30px;
  margin-top: 0px;
}

.button-1 {
  background-color: #5f2eea;
  border-radius: 4px;
  height: auto;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  color: #f7f7fc;
  font-weight: 700;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: 0.75px;
}

.button-1:hover {
  cursor: pointer;
}

.button-div-1 {
  bottom: 60px;
  display: flex;
  column-gap: 10px;
  margin: auto;
  margin-top: 40px;
  width: 50%;
}

.input-1 {
  height: 64px;
  border-radius: 16px;
  background-color: #fcfdfe;
  border: 1px solid #dedede;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

@media (max-width: 768px) {
  .main {
    margin: 0px;
    margin-top: 10%;
    width: 100%;
  }

  .div-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .div-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .button-div-1 {
    bottom: 60px;
    display: flex;
    column-gap: 10px;
    margin: auto;
    margin-top: 40px;
    width: 100%;
  }

  .input-1 {
    height: 64px;
    border-radius: 16px;
    background-color: #fcfdfe;
    border: 1px solid #dedede;
    padding-left: 24px;
    padding-right: 24px;
    width: auto;
  }
}
